<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<%= @song.name %>
Song's Artist and Genre:
<%= @song.artist.name %>
<a href=<%= "/artists/#{@song.artist.slug}" %>>Click here to go to the Artist's page</a>
<% @song.genres.uniq.each do |genre| %>
<li><%=genre.name%></li>
<a href=<%= "/genres/#{genre.slug}" %>>Click here to go to the Genre's page</a>
<% end %>

<br><br>
<form action="/songs/<%=@song.slug%>/edit" method="get">
  <input type="submit" name="" value="Update Song" id="update">

</form>
